@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
:root {
  --bg-color: #1a1a1d;
  --grey: #cecece;
  --neutral: #4e4e50;
  --accent: #ea9010;
  --accent-dark: #553201;
  --font: 'Rubik', sans-serif;

  line-height: 1.2;
  font-family: var(--font);
  text-align: center;

  background-color: var(--bg-color);

  --coefficient: ((100vw - 20rem) / 50);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0px 1rem;
}

.primary,
.accent {
  font-size: 10rem;
  font-weight: 500;
}

.primary {
  color: var(--grey);
  text-shadow: 5px 5px var(--neutral);
}

.accent {
  color: var(--accent);
  text-shadow: 5px 5px var(--accent-dark);
}

#date {
  padding: 0.5em;
  margin-bottom: 1rem;

  font-size: 3.5rem;
  color: var(--grey);

  background-color: var(--neutral);
  border-radius: 0.2em;

  outline: none;
  border: none;
  font-family: inherit;
}

@media (max-width: 70rem) {
  /*? minSize + (maxSize - minSize) * ((100vw - minContainerSize) / (maxContainerSize - minContainerSize)) */
  .primary,
  .accent {
    /** from  10  to  2.5   */
    font-size: calc(2.5rem + 7.5 * var(--coefficient));
  }

  .primary {
    text-shadow: calc(0.15625rem + 0.15625 * var(--coefficient))
      calc(0.15625rem + 0.15625 * var(--coefficient)) var(--neutral);
  }

  .accent {
    text-shadow: calc(0.15625rem + 0.15625 * var(--coefficient))
      calc(0.15625rem + 0.15625 * var(--coefficient)) var(--accent-dark);
  }

  #date {
    /** from  3.5  to   1.25  */
    font-size: calc(1.25rem + 2.25 * var(--coefficient));
  }
}
